.postContent {
  color: #292929;

  p {
    margin-top: 2em;
    line-height: 1.5em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 1.5em;
    font-weight: 700;
  }

  h2 + p {
    margin-top: 0.5em;
  }

  li {
    list-style-position: inside;
    margin-top: 0.2em;
  }

  ul {
    margin-top: 2em;
  }

  ol {
    margin-top: 2em;
  }

  img {
    margin-top: 2em;
  }

  pre {
    font-size: 12px;
    font-family: 'Roboto mono';
    margin-top: 2em;
    color: #fff;
    background: #0d1117;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;

    max-width: 680px;
    white-space: pre-wrap;
  }
}
